.weather {
    background: var(--primary-rose);
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: calc(100% - (2 * var(--gutter)));
    margin: 1.5rem auto 0;
    gap: 1rem;
}


.weather_temp {
    font-size: var(--xl);
}

.weather_headline {
    font-weight: var(--fw-bold);
    margin: 0.5rem 0;
}